n8n/workflows/gmail_ingest.json
{
  "name": "gmail_ingest",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "gmail_trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const parseAddressList = (value) => { if (!value) return []; return String(value).split(',').map((chunk) => chunk.trim()).filter(Boolean).map((entry) => { const match = entry.match(/^(.*)<([^>]+)>$/); if (match) { const name = match[1].trim().replace(/(^\"|\"$)/g, '') || undefined; return { email: match[2].trim().toLowerCase(), ...(name ? { name } : {}) }; } return { email: entry.replace(/(^\"|\"$)/g, '').trim().toLowerCase() }; }).filter((participant) => participant.email); }; const readHeader = (email, headerName) => { const direct = email[headerName.toLowerCase()] ?? email[headerName]; if (direct) return direct; const headers = email.payload?.headers ?? email.headers; if (!Array.isArray(headers)) return ''; const found = headers.find((header) => String(header?.name ?? header?.key ?? '').toLowerCase() === headerName.toLowerCase()); return found?.value ?? ''; }; return items.map((item, idx) => { const email = item.json ?? {}; const labelIds = Array.isArray(email.labelIds) ? email.labelIds : Array.isArray(email.labels) ? email.labels : []; const isSent = labelIds.includes('SENT'); const internalDate = email.internalDate ?? email.date; const timestamp = internalDate ? new Date(Number(internalDate) || internalDate).toISOString() : new Date().toISOString(); const fromHeader = readHeader(email, 'From') || email.from || ''; const toHeader = readHeader(email, 'To') || email.to || ''; const ccHeader = readHeader(email, 'Cc') || email.cc || ''; const bodyPlain = email.textPlain || email.bodyPlain || email.snippet || email.text || ''; return { json: { source_system: 'gmail', event_type: isSent ? 'email_sent' : 'email_received', external_id: String(email.id || email.messageId || `gmail-${Date.now()}-${idx}`), timestamp, thread_id: email.threadId ? String(email.threadId) : null, direction: isSent ? 'out' : 'in', subject: readHeader(email, 'Subject') || email.subject || '(no subject)', participants: { from: parseAddressList(fromHeader), to: parseAddressList(toHeader), cc: parseAddressList(ccHeader) }, body_plain: String(bodyPlain), attachments: Array.isArray(email.attachments) ? email.attachments : [] } }; });"
      },
      "id": "map_interaction",
      "name": "Map Interaction Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/v1/ingest/interaction_event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "post_ingest",
      "name": "POST Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.filter((item) => !item.json?.error);"
      },
      "id": "success_only",
      "name": "Success Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 220]
    },
    {
      "parameters": {
        "jsCode": "return items.filter((item) => Boolean(item.json?.error)).map((item) => ({ json: { workflow: 'gmail_ingest', failed_at: new Date().toISOString(), endpoint: 'http://api:8000/v1/ingest/interaction_event', error: item.json.error, response_payload: item.json } }));"
      },
      "id": "dead_letter_payload",
      "name": "Dead Letter Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 380]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Map Interaction Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Interaction Event": {
      "main": [
        [
          {
            "node": "POST Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Interaction": {
      "main": [
        [
          {
            "node": "Success Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dead Letter Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
