n8n/workflows/sheets_sync.json
{
  "name": "sheets_sync",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "read",
        "sheetId": "1_126A0A6-yX6n5sQYmsH_Jbk900yzjDaUy4jyX_aWT0",
        "range": "Contacts_Short!A:Z",
        "dataStartRow": 2,
        "keyRow": 1,
        "options": {
          "continue": true,
          "valueRenderMode": "UNFORMATTED_VALUE"
        }
      },
      "id": "read_contacts_sheet",
      "name": "Read Contacts Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        500,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  if (value === null || value === undefined) return false;\n  return ['1', 'true', 'yes', 'y', 'on'].includes(String(value).trim().toLowerCase());\n};\n\nconst readField = (source, keys) => {\n  for (const key of keys) {\n    if (source[key] !== undefined && source[key] !== null && String(source[key]).trim() !== '') return source[key];\n  }\n  return '';\n};\n\nconst normalizeEmail = (value) => {\n  if (value === null || value === undefined) return '';\n  let text = String(value).trim();\n  if (!text) return '';\n  text = text.replace(/^mailto:/i, '');\n  text = text.replace(/^e:\\s*/i, '');\n  text = text.replace(/^e\\s*:\\s*/i, '');\n  text = text.replace(/[<>]/g, '');\n  text = text.trim().toLowerCase();\n  const match = text.match(/[a-z0-9._%+\\-']+@[a-z0-9.\\-]+\\.[a-z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n};\n\nconst inferEmail = (source) => {\n  const direct = readField(source, ['primary_email', 'primaryEmail', 'Primary Email', 'Email', 'email', 'Work Email']);\n  const normalizedDirect = normalizeEmail(direct);\n  if (normalizedDirect) return normalizedDirect;\n\n  for (const value of Object.values(source || {})) {\n    const email = normalizeEmail(value);\n    if (email) return email;\n  }\n  return '';\n};\n\nconst slug = (value) => String(value || '')\n  .trim()\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .slice(0, 80);\n\nconst inferNameAndCompany = (source, email) => {\n  const explicitFirst = readField(source, ['first_name', 'firstName', 'First Name']);\n  const explicitLast = readField(source, ['last_name', 'lastName', 'Last Name']);\n  const explicitDisplay = readField(source, ['display_name', 'displayName', 'Name', 'Full Name']);\n  const explicitCompany = readField(source, ['company', 'Company', 'organization', 'Organization', 'org', 'Org']);\n\n  let firstName = explicitFirst ? String(explicitFirst).trim() : '';\n  let lastName = explicitLast ? String(explicitLast).trim() : '';\n  let displayName = explicitDisplay ? String(explicitDisplay).trim() : '';\n  let company = explicitCompany ? String(explicitCompany).trim() : '';\n\n  if (firstName || lastName || displayName || company) {\n    return {\n      firstName: firstName || null,\n      lastName: lastName || null,\n      displayName: displayName || ([firstName, lastName].filter(Boolean).join(' ') || null),\n      company: company || null,\n    };\n  }\n\n  const ignore = new Set(['active', 'inactive', 'true', 'false', 'yes', 'no']);\n  const candidates = [];\n  for (const value of Object.values(source || {})) {\n    if (value === null || value === undefined) continue;\n    if (typeof value === 'number') continue;\n    const raw = String(value).trim();\n    if (!raw) continue;\n    if (normalizeEmail(raw) === email) continue;\n    const normalized = raw.toLowerCase();\n    if (ignore.has(normalized)) continue;\n    if (/^\\d+(\\.\\d+)?$/.test(raw)) continue;\n    candidates.push(raw);\n  }\n\n  if (!displayName && candidates.length >= 2) {\n    firstName = firstName || candidates[0];\n    lastName = lastName || candidates[1];\n    displayName = [firstName, lastName].filter(Boolean).join(' ');\n  }\n  if (!company && candidates.length >= 3) {\n    company = candidates[2];\n  }\n\n  return {\n    firstName: firstName || null,\n    lastName: lastName || null,\n    displayName: displayName || null,\n    company: company || null,\n  };\n};\n\nconst rows = items.map((item, idx) => {\n  const source = item.json ?? {};\n  const primaryEmail = inferEmail(source);\n  if (!primaryEmail) return null;\n\n  const explicitContactId = String(readField(source, ['contact_id', 'contactId', 'Contact ID', 'ContactId', 'HubSpot ID', 'Hubspot ID', 'ID'])).trim();\n  const inferredContactId = explicitContactId || `sheet:${slug(primaryEmail) || `row-${idx + 1}`}`;\n\n  const ownerUserId = readField(source, ['owner_user_id', 'ownerUserId', 'Owner User ID']);\n  const notes = readField(source, ['notes', 'Notes']);\n  const useSensitive = readField(source, ['use_sensitive_in_drafts', 'useSensitiveInDrafts', 'Use Sensitive In Drafts']);\n\n  const inferred = inferNameAndCompany(source, primaryEmail);\n\n  return {\n    contact_id: inferredContactId,\n    primary_email: primaryEmail,\n    display_name: inferred.displayName,\n    first_name: inferred.firstName,\n    last_name: inferred.lastName,\n    company: inferred.company,\n    owner_user_id: ownerUserId ? String(ownerUserId).trim() : null,\n    notes: notes ? String(notes).trim() : null,\n    use_sensitive_in_drafts: toBool(useSensitive),\n  };\n}).filter(Boolean);\n\nif (rows.length === 0) {\n  const sampleKeys = items[0]?.json ? Object.keys(items[0].json) : [];\n  throw new Error(`No valid contacts found. Sample keys: ${sampleKeys.join(', ')}`);\n}\n\nreturn [{ json: { mode: 'push', rows } }];"
      },
      "id": "build_push_payload",
      "name": "Build Push Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/v1/contacts/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "9PZ5_Iw7ttWT6GJG0XIlG4platWDswpnROejWnfhGa7YwSXduGn7SBgwH2me3NlT"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  mode: 'push',\n  rows: Array.isArray($json.rows) ? $json.rows : []\n}) }}",
        "options": {}
      },
      "id": "post_sync",
      "name": "POST Contacts Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.filter((item) => !item.json?.error);"
      },
      "id": "success_only",
      "name": "Success Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.filter((item) => Boolean(item.json?.error)).map((item) => ({ json: { workflow: 'sheets_sync', failed_at: new Date().toISOString(), endpoint: 'http://api:8000/v1/contacts/sync', error: item.json.error, response_payload: item.json } }));"
      },
      "id": "dead_letter_payload",
      "name": "Dead Letter Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Contacts Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Read Contacts Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts Sheet": {
      "main": [
        [
          {
            "node": "Build Push Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Push Payload": {
      "main": [
        [
          {
            "node": "POST Contacts Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Contacts Sync": {
      "main": [
        [
          {
            "node": "Success Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dead Letter Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}